/* FormScreen.css */
.animal-creation-form h1 {
    color: black;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Change flex direction to row */
    justify-content: flex-start; /* Right-align labels within the form group */
    align-items: flex-start; /* Align form elements vertically */
  }
  
  /* Style the labels to be black and right-align them */
  .form-group label {
    color: black;
     /* Add space between label and input field */
    text-align: left; /* Right-align the labels */
    flex: 1; /* Allow labels to take up available space */
    margin-bottom: 5px;
  }
  
  /* Add any other styling you need for your form fields */
  .form-group input[type="text"],
  .form-group input[type="file"],
  .form-group textarea {
    /* Add your input field styles here */
    flex: 1; /* Allow input fields to take up more space */
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .form-group select {
    /* Add your input field styles here */
    flex: 1; /* Allow input fields to take up more space */
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .error-message {
    color: red;
    font-weight: bold;
  }

  button {
    width: 80px;
    text-align: center;
    justify-content: center;
    margin: 5px 0px 0px 5px;
  }

  button[type="submit"] {
    background-color: #007AFF; /* Apple's blue color */
    color: white;
    border: 2px solid #007AFF;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0058C7; /* Slightly darker blue on hover */
  }

  .cancel-button {
    background-color: transparent;
    color: #007AFF; /* Apple's blue color */
    font-weight: bold;
    border: 2px solid #007AFF;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  }
  
  .cancel-button:hover {
    background-color: #007AFF;
    color: white;
  }
  
  /* Additional styles for consistency with Apple's design */
  .cancel-button:focus {
    outline: none; /* Remove the default focus outline */
  }

  .icon-scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Hide horizontal overflow */
    width: 100%; /* Ensure the container takes full width */
  }
  
  .icons {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 20px;
    padding: 10px;
    width: 100%; /* Ensure the icons container takes full width */
    white-space: nowrap; /* Prevent wrapping to next line */
  }
  
  .icon {
    width: 30px;
    height: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
  }

  .selected-icon {
    background-color: #007AFF; /* Example background color */
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px; /* Adjust padding as needed */
    margin-right: 5px; /* Add spacing between selected icons */
    margin-bottom: 5px; /* Add spacing between rows of selected icons */
    display: inline-block; /* Display selected icons in a horizontal line */
    cursor: pointer; /* Add a pointer cursor for interaction */
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .selected-icon:hover {
    background-color: #0058C7; /* Slightly darker blue on hover */
  }

  /* Add these styles to your CSS */
.image-preview {
  text-align: center;
}

.preview-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent images from wrapping to the next line */
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

.preview-image {
  width: 80px; /* Adjust the width and height as desired */
  height: 80px;
  margin-right: 10px; /* Add spacing between images */
  object-fit: cover; /* Preserve aspect ratio while filling the square container */
}

/* Add these styles to your CSS */
.file {
  position: relative; /* Make the parent container relative */
  display: inline-block; /* Ensure the container only takes the necessary space */
}

.preview-image {
  width: 80px; /* Adjust the width and height as needed */
  height: 80px;
  object-fit: cover; /* Preserve aspect ratio while filling the square container */
}

.remove-icon {
  position: absolute; /* Position the X icon absolutely */
  top: 0; /* Place it at the top of the container */
  right: 0; /* Place it at the right corner of the container */
  color: #0058C7; /* Change the color to your preference */
  font-size: 24px; /* Adjust the font size as needed */
  cursor: pointer; /* Add a pointer cursor for interaction */
}

.CR {
  background-color:red;
  border: 2px solid red;
}

.CR.selected {
  border: 2px solid #0058C7;
}

.EN {
  background-color: orange;
  border: 2px solid orange;
}

.EN.selected {
  border: 2px solid #0058C7;
}

.VU {
  background-color: rgb(219, 219, 72);
  border: 2px solid rgb(219, 219, 72);
}

.VU.selected {
  border: 2px solid #0058C7;
}

.NT {
  background-color: greenyellow;
  border: 2px solid greenyellow;
}

.NT.selected {
  border: 2px solid #0058C7;
}

.LC {
  background-color: rgb(29, 165, 29);
  border: 2px solid rgb(29, 165, 29);
}

.LC.selected {
  border: 2px solid #0058C7;
}

.NE {
  background-color: white;
  color: black;
  border: 2px dotted black;
}

.NE.selected {
  border: 2px solid #0058C7;
}

/* CSS styles for the success message */
.success-message {
  background-color: #4caf50; /* Background color */
  color: #fff; /* Text color */
  padding: 10px; /* Padding around the message */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center-align text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

.success-text {
  font-size: 26px; /* Font size */
  font-weight: bold; /* Bold text */
}

/* CSS styles for the error message */
.error-feedback {
  background-color: #ff5733; /* Error message background color */
  color: #fff; /* Text color */
  padding: 10px; /* Padding around the message */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center-align text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

.error-text {
  font-size: 26px; /* Font size */
  font-weight: bold; /* Bold text */
}

