/* Footer.css */
.footer {
    background-color: transparent; /* Transparent footer */
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .footer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: white; /* Gray-white button */
    border: none;
    border-radius: 50px; /* Round button */
    color: gray; /* Text color */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow backdrop */
  }
  
  /* Media query for mobile view */
  @media (max-width: 768px) {
    .footer-buttons {
      flex-direction: row; /* Keep buttons in a single row */
    }
  }