.picture-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .image-container {
    flex: 1;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .divs-container-vertical {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .div {
    padding: 10px;
    text-align: right;
  }

  .name {
    background-color: #007bff;
    padding: 10px;
    color:white;
    border: 1px solid #007bff;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
  }

  .info {
    padding: 10px;
    text-align: left;
  }

  .title {
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }

  .butt {
    background-color: #007AFF; /* Apple's blue color */
    color: white;
    border: 2px solid #007AFF;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .slideshow {
    display: flex;
    align-items: center;
  }
  
  .slideshow-container {
    width: 300px; /* Adjust to your preferred width */
    height: 300px; /* Adjust to your preferred height */
    overflow: hidden;
  }
  
  .slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .icon-scroll-container-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden; /* Hide horizontal overflow */
    width: 100%; /* Ensure the container takes full width */
  }

  .icon-h {
    margin-right: 5px;
    margin-left: 5px;
  }

  .delete-button {
    background-color: #007AFF; /* Apple's blue color */
    color: white;
    font-weight: bold;
    border: 2px solid #007AFF;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .modify-button {
    background-color: white; /* Apple's blue color */
    color: #007AFF;
    font-weight: bold;
    border: 2px solid #007AFF;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  